@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/vazirmatn/Vazirmatn-SemiBold.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("../assets/fonts/kalameh/Kalameh\(FaNum\)-Medium.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Vazirmatn", "Segoe UI", Tahoma, sans-serif;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282828;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.bootCamp {
  width: 200px;
  font-family: "Kalameh";
  font-size: 21px;
  color: #1a1a1a;
  text-align: center;
}

.login {
  width: 420px;
  background-color: #ffffff;
  padding: 40px 20px 13px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 40px;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 0 auto 15px auto;
  display: block;
}

.formTitle {
  font-size: 26px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 35px;
  text-align: center;
}

input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  background-color: #f2f2f2;
  padding: 22px 15px;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.inputGroup input:focus {
  border-color: #55a3f0;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(85, 163, 240, 0.1);
}

.button {
  border: none;
  height: 53px;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  background-color: #55a3f0;
  border-radius: 15px;
  font-family: "SemiBold";
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4493e0;
}

.link {
  text-decoration: none;
  color: #3a8bed;
  font-size: 15px;
  font-weight: 300;
  margin-right: 10px;
  transition: all 0.2s;
}

.link:hover {
  text-decoration: underline;
  color: #3380d0;
}
