.pageContainer {
  width: 100%;
  max-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Vazirmatn", sans-serif;
}

.header {
  width: 100%;
  max-width: 1300px;
  margin: 20px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #282828;
  position: relative;
  padding-right: 36px;
  margin: 0 0 8px 0;
  display: inline-block;
}

.title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../assets/setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tableWrapper {
  width: 100%;
  max-width: 1300px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.addButtonWrapper {
  text-align: left;
}

.addButton {
  background-color: #55a3f0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Vazirmatn", sans-serif;
  transition: all 0.2s;
}

.addButton:hover {
  background-color: #4493e0;
}


@media (max-width: 768px) {
  .pageContainer {
    padding: 20px;
  }
  
  .tableWrapper {
    border-radius: 20px;
    overflow-x: auto;
  }
}